@model QuizApp.Models.Question;
@inject QuizApp.Data.ApplicationDbContext context;
@{ViewData["Title"] = "Quiz";}

<h1>QuizApp</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Quiz" asp-controller="GameController">
            <div asp-validation-summary="ModelOnly" class="text-danger" />
        </form>
    </div>
</div>